<html>
<header>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="css/custom.css" />
</header>
<body class="container">
<div class="row">
    <div class="col">
        <textarea rows="20">
        </textarea>
    </div>
    <div class="col">
        <img src="img/graph.png" />
    </div>
</div>
</body>
</html>
